*{
    Margin :0;
    padding: 0;
    list-style: none;
}
/*pagina1*/
.inicio {
    background-color: #909497;
    width: 625px;
    margin: auto;
    padding: 15px 20px 10px 20px;
  

}
nav{
    background-color: #5DADE2;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  .inicio aside{
      margin:0px 2px 0px 2px;
      width: 200px;
      height: 200px;
      background-color: #FCF3CF;
      display: inline-block;

  }
  .inicio aside div{
    width: 200px;
    height: 200px;
    background-color: #A569BD;
    display: inline-block;
    border-radius:50%;
  }
  
  .inicio section{
    margin: 2px 4px 2px 4px;
    width: 250px;
    height: 250px;
    background-color: #273746;
    display: inline-block;
    
  }
.inicio section ol{
    
    width: 250px;
    height: 250px;
    background-color:#2ECC71 ;
    display: inline-block;
    border-radius:50%;
    
  }
  .inicio footer{
      margin: 15px 50px ;
      
  }
.inicio article{
    width: 565px;
    height: 300px;
    background-color:#E74C3C;
}
.inicio article li{
margin: 17px;
width: 150px;
height: 265px;
background-color: #76D7C4;
display: inline-block;

}
 .inicio article li nav{
margin:15px 31px;
width: 85px;
height: 70px;
background-color:#F4D03F;

 }
 .inicio article li div{
margin:9px 10px 0px 25px;
width: 100px;
height: 250px; ;
border-radius: 50px;
background-color: #5DADE2;
 }  
 .inicio article li footer{
  margin: 15px 0px 10px 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color:#F5B7B1 ;
 }

  /*pagina 2*/
  .Page2{
    margin: 20px;
    width: 800px;
    height: 800px;
    background-color:#58D68D;
     }
    
    .Page2 main{
        margin: 15px 15px 0px 25px;
        width: 350px;
        
        display: inline-block;
        background-color: #5D6D7E;
    }
    
    .Page2 main div{
     margin: 15px ;
    width: 140px;
    height: 140px;
     border-radius: 50%;
    background-color: #F9E79F;
    display: inline-block;
    }
    
    .Page2 article{
        margin: 15px 0px 10px 150px;
        width: 495px;
        height: 281px;
        background-color:#D7DBDD;
    }
    .Page2 article nav:first-child{
        margin-left: 70px;
    }
    .Page2 article nav{
        margin-top: 60px;
        width: 180px;
        height: 180px;
         border-radius: 50%;
        background-color: #3498DB;
        display: inline-block;
    }
    
    .Page2 footer {
        margin: -3px 20px;
    width: 150px;
    height: 120px; 
    background-color: #21618C;
    display: inline-block;
    
    }
    
    .Page2 footer ol{
        margin: 5px 0px 0px 30px;
        width: 80px;
        height: 110px;
        border-radius: 50px;
        background-color: #D7DBDD;
    }
    
    
    .Page2 footer section {
        margin: 6px;
        padding: 0px;
        width: 60px;
        height: 45px;
        border-radius: 50%;
        background-color: black;
        display: inline-block;
    }
    /*pagina3*/
    .page3{
        background-color:#154360;
        width: 780px;
        height: 950px;
        margin: 10px auto;
      }
      .page3 main{
        background-color:#F8F9F9;
        width: 325px;
        height: 250px;
        display:inline-block;
        margin: 15px;
        padding: 15px;
      }
      .page3 main nav{
        background-color:aquamarine;
        width: 305px;
        height: 235px;
        display:inline-block;
        padding: 15px 0px 0px 15px;
      }
      .page3 main nav footer{
        margin: -1px;
        background-color: #F4D03F;
        width: 290px;
        height: 220px;
        display:inline-block;
        vertical-align: top;
      }
      .page3 main nav footer ol{
        background-color: #2E86C1;
        width: 74px;
        height: 74px;
        display:inline-block;
        margin: 20px 10px 10px 10px;
        border-radius:50%; 
        list-style: none;
      }
      .page3 main nav footer a{
        background-color: #1ABC9C;
        width: 65px;
        height: 65px;
        display:inline-block;
        margin: 10px 15px 15px 13px;
        list-style: none;
      }
      .page3 aside{
        background-color:black;
        width: 705px;
        height: 250px;
        display:inline-block;
        margin: 15px;
        padding: 20px;
      }  
      .page3 aside article{
        background-color: white;
        width: 685px;
        height: 230px;
        display:inline-block;
        padding: 20px 0px 0px 20px;
      }
      .page3 aside nav h1{
        background-color: #5D6D7E;
        width: 230px;
        height: 190px;
        display:inline-block;
        padding: 20px 0px 0px 20px;
        vertical-align: top;
      }
      .page3 aside nav h2{
        background-color:#5D6D7E;
        width: 185px;
        height: 190px;
        display:inline-block;
        padding: 20px 0px 0px 20px;
        margin: 0 0 0 20px;
        vertical-align: top;
      }
      .page3 aside nav h3{
        background-color: #5D6D7E;
        width: 140px;
        height: 190px;
        display:inline-block;
        padding: 20px 0px 0px 20px;
        margin: 0 0 0 20px;
        vertical-align: top;
      }
      .page3 aside nav h1 div{
        background-color: cornflowerblue;
        width: 85px;
        height: 165px;
        display:inline-block;
        border-radius: 60%;
        padding: 10px 3px 10px 15px;
      }
      .page3 aside nav h2 nav{
        background-color: cornflowerblue;
        width: 145px;
        height: 65px;
        border-radius: 60%;
        padding: 20px 15px 5px 15px;
        margin: 0 0 5px 0;
      }
      .page3 aside nav h3 ol{
        background-color: cornflowerblue;
        width: 80px;
        height: 80px;
        display:inline-block;
        margin: 2px 15px 15px 25px;
        border-radius:50%; 
        list-style: none;
      }
      .page3 aside nav section{
        background-color: green;
        width: 625px;
        height: 170px;
        padding: 20px;
      }
      .page3 aside nav section footer{
        background-color: white;
        width: 585px;
        height: 130px;
        padding: 20px;
      }
      
      .page3 aside nav section footer ol{
        background-color:brown;
        width: 100px;
        height: 100px;
        display:inline-block;
        margin: 15px 6px;
        border-radius:50%; 
        list-style: none;
      }
    /*pagina4*/
    .page4{
        background-color: #F4D03F;
        height: 950px;
        width: 850px;
        margin: 10px auto;
      }
      .page4 ol{
        background-color:#82E0AA;
        width: 120px;
        height: 220px;
        margin: 15px 0 0 15px;
        display:inline-block;
        }
        .page4 ol div{
            background-color:     #566573;
            width: 75px;
            height: 75px;
            margin: 15px 10px 40px 23px;
            border-radius:50%; 
          }
    
          .page4 ol nav{
            background-color:     #566573;
            width: 90px;
            height: 200px;
            margin: 12px 12px 12px 15px;
            border-radius:50%; 
          }
          .page4 ul{
            background-color:#82E0AA ;
            width: 80px;
            height: 220px;
            margin: 15px 0 0 15px;
            display:inline-block;
           }
           .page4 article{
            background-color: #C0392B;
            width: 260px;
            height: 220px;
            margin: 15px 0 0 15px;
            display:inline-block;
            vertical-align: top;
          }
          .page4 article footer{
            background-color: black;
            width: 230px;
            height: 50px;
            margin: 15px 0 0 15px;
            padding: 1px 0 0 0;
          }
    
          .page4 article footer nav{
            background-color: aqua;
            width: 210px;
            height: 30px;
            margin: 10px 0 0 10px;
            border-radius:50%;
          }
          .page4 article ol{
            background-color: black;
            width: 105px;
            height: 130px;
            margin: 12px 0 0 15px;
          }
          .page4 article ol nav{
            background-color: aqua;
            width: 60px;
            height: 120px;
            margin: 5px 0 0 20px;
          }
          .page4 article ol div{
            background-color: aqua;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin: 7px 0 0 25px;
          }
          .page4 section{
            background-color:#C0392B;
            width: 495px;
            height: 220px;
            margin: 15px 0 0 15px;
            display:inline-block;
          }
          .page4 section article{
            background-color: black;
            width: 465px;
            height: 190px;
            margin: 15px 0 0 15px;
          }
          .page4 section article main{
            background-color: aqua;
            width: 395px;
            height: 120px;
            margin: 15px 0 0 15px;
          }
          .page4 section article main li{
            background-color: white;
            width: 115px;
            height: 120px;
            margin: 0 10px 0 4px;
            display: inline-block;
            list-style: none;
          }
          
          .page4 section article main li div{
            background-color:aqua;
            width: 80px;
            height: 80px;
            margin: 20px 0 0 17px;
            border-radius: 50px;
          }
    
          .page4 footer{
            background-color: black;
            width: 220px;
            height: 220px;
            display:inline-block;
            margin: 20px 20px 0px 18px;
            vertical-align: top;
          }
          .page4 nav{
            background-color:black;
            width: 280px;
            height: 220px;
            display:inline-block;
            margin: 20px 0px 0px 5px;
          }
          .page4 footer section{
            background-color: #58D68D;
            width: 190px;
            height: 190px;
            
          }
          .page4 footer section nav{
            background-color: white;
            width: 170px;
            height: 170px;
            margin: 13px 0 0 10px;
            border-radius: 97px;    
          }
    .page4 nav ul{
        background-color: #58D68D;
        width: 250px;
        height: 200px;
        margin: 10px 10px;
    }
    
         .page4 nav ul article{
            background-color:  #58D68D;
            margin: 90px 0px 0px 0px;
            width: 200px;
            height: 100px;
         }
         .page4 nav ul div{
            background-color:white;
            width: 210px;
            height: 50px;
            margin: 10px 0px -60px 22px;
            border-radius: 50%;
         }
          .page4 nav ul article ol{
            background-color: white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 0 0 5px;
          }
          .page4 footer div{
            background-color:#58D68D;
            width: 198px;
            height: 200px;
            margin: 10px 10px;
          }
    
    .page4 footer div nav {
        background-color: #F9E79F;
        margin: 10px 10px 10px 12px;
        width: 171px;
        height: 100px;
    
    }
    .page4 footer div nav ul{
        background-color: #85929E;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px 0 0 5px;
    }
    .page4 footer div ol{
        background-color: #1C2833;
        width: 185px;
        height: 50px;
        margin: 109px 0px -176px 7px;
        border-radius: 50%; 
    }
    
    .page4 h3{
        background-color: #AED6F1;
        width: 776px;
        height: 200px;
        margin: 15px 0 0 15px;
    }
    
    .page4 h3 article{
        background-color: #CA6F1E;
        width: 127px;
        height: 165px;
        margin: 20px 10px 0 12px;
        display: inline-block;
        list-style: none;
    }
      .page4 h3 article div{
        background-color: #1C2833;
        width: 97px;
        height: 97px;
        margin: 30px 0px 0px 15px;
        border-radius: 50px;
      }  
     .page4 h3 article nav{
        background-color: #1C2833;
        width: 115px;
        height: 40px;
        margin: 25px 0px 0px 7px;
        border-radius: 50%;
     }
    /*pagina 5*/
    .page5{
      background-color: #283747;
      width: 800px;
      height: 970px;
      margin: 15px auto;
    
    }
    .page5 main{
      background-color:#ECF0F1;
      width: 230px;
      height: 700px;
      margin: 20px -4px 0 20px;
      display: inline-block;
      padding:  0px;
      vertical-align: top;
    }
    .page5 main article{
      width: 90px;
      background-color: #1ABC9C;
      height: 150px;
      margin: 20px -4px 0 20px;
      display: inline-block; 
      vertical-align: top;
    }
    .page5 main div{
      width: 80px;
      background-color: #1ABC9C;
      height: 150px;
      margin: 20px -4px 0 20px;
      display: inline-block; 
      vertical-align: top;
    }
    .page5 main article li{
      background-color: black;
      width: 55px;
      height: 55px;
      margin: 13px 0px 0 18px;
      border-radius: 50%;
      list-style: none;
    }
    
    .page5 main div nav{
      background-color: black;
      width: 60px;
      height: 120px;
      margin: 15px 0px 0 10px;
      border-radius: 50%;
      list-style: none;
    }
    .page5 main aside{
      background-color: #1ABC9C;
      width: 190px;
      height: 90px;
      margin: 20px 0px 0 20px;
    }
    .page5 main aside li{
      background-color: black;
      width: 60px;
      height: 60px;
      margin: 15px 0px 0 21px;
      border-radius: 50%;
      list-style: none;
      display: inline-block;
    }
    .page5 main div a{
      background-color: black;
      width: 50px;
      height: 50px;
      margin: 15px 0px 0 15px;
      border-radius: 50%;
      display: inline-block;
    }
    
    .page5 main ul{
      background-color: #1ABC9C;
      width: 190px;
      height: 210px;
      margin: 20px 0px 0 20px;
    }
    .page5 main ul li{
      background-color: black;
      width: 50px;
      height: 50px;
      margin: 10px 0px 0 30px;
      border-radius: 50%;
      list-style: none;
      display:inline-block;
    }
    .page5 main ul nav{
       background-color: black;
      width: 50px;
      height: 40px;
      margin: 10px 0 0 70px;
      display:inline-block;
    }
    .page5 main ul div{
      background-color: black;
     width: 120px;
     height: 60px;
     margin: 10px 0 0 35px;
     display:inline-block;
    }
    .page5 footer{
      background-color:#ECF0F1;
      width: 260px;
      height: 700px;
      margin: 20px -4px 0 20px;
      display: inline-block;
      padding:  0px;
      vertical-align: top;
    }
    .page5 footer ul{
      background-color: #1ABC9C;
      width: 220px;
      height: 210px;
      margin: 20px 0px 0 20px;
    }
    .page5 footer ul li{
      background-color: black;
      width: 50px;
      height: 50px;
      margin: 10px 0px 0 40px;
      border-radius: 50%;
      list-style: none;
      display:inline-block;
    }
    .page5 footer ul nav{
       background-color: black;
      width: 40px;
      height: 50px;
      margin: 10px 0 0 90px;
      display:inline-block;
    }
    .page5 footer ul div{
      background-color: black;
     width: 150px;
     height: 60px;
     margin: 5px 0 0 35px;
     display:inline-block;
    }
    .page5 footer article{
      background-color: #1ABC9C;
      width: 100px;
      height: 180px;
      margin: 20px -4px 0 20px;
    display: inline-block;
    }
    .page5 footer article p{
      background-color: black;
      width: 70px;
      height: 70px;
      margin: 13px 0px 0 15px;
      border-radius: 50%;
    }
    .page5 footer aside{
      background-color: #1ABC9C;
      width: 220px;
      height: 100px;
      margin: 16px 0px 0 20px;
    }
    .page5 footer aside li{
      background-color: black;
      width: 70px;
      height: 70px;
      margin: 15px 0px 0 25px;
      border-radius: 50%;
      list-style: none;
      display: inline-block;
    }
    .page5 footer ol{
      background-color: #1ABC9C;
      width: 100px;
      height: 110px;
      margin: 20px -4px 0 20px;
      display:inline-block;
    }
    .page5 footer ol div{
      background-color: black;
      width: 70px;
      height: 100px;
      border-radius: 80%;
      margin: 5px 0 0 13px;
    }
    .page5 main h1{
      background-color:#1ABC9C;
      width: 90px;
      height: 90px;
      margin: 20px -4px 0 20px;
      display: inline-block;
    }
    .page5 main h2{
      background-color: #1ABC9C;
      width: 80px;
      height: 90px;
      margin: 20px 0 0 20px;
      display: inline-block;
    }
    .page5 main h1 ol,.pagina5 main h2 ol{
      background-color: black;
      border-radius: 60%;
      margin: 10px 0 0 10px;
    }
    .page5 main h1 ol{
    width: 70px;
    height: 70px;
    }
    .page5 main h2 ol{
      width: 60px;
      height: 70px;
    }
    .page5 main h3{
      background-color: #1ABC9C;
      width: 190px;
      height: 130px;
      margin: 15px 0 0 20px;
    }
    .page5 main h3 ul{
      background-color: black;
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 50%;
      margin: 8px 0px 0 30px;
    }
    .page5 main h4{
      background-color: #1ABC9C;
      width: 190px;
      height: 170px;
      margin: 20px 0 0 20px;
      padding: 5px 0 0 0;
    }
    .page5 main h4 nav{
      background-color: black;
      width: 150px;
      height: 69px;
      margin: 10px 0 0 20px;
      padding: 1px 0 0 0;
    }
    .page5 main h4 div{
      background-color: black;
      width: 70px;
      height: 70px;
      margin: 10px 0 0 60px;
      border-radius: 50%;
    }
    .page5 main h4 nav p{
      background-color:#3498DB ;
      width: 110px;
      height: 50px;
      border-radius: 60%;
      margin: 10px 0 0 20px;
    }
    .page5 main h5,.pagina5 main h6{
      background-color:#1ABC9C;
      height: 207px;
      display: inline-block;
      vertical-align: top;
    }
    .page5 main h5{
      width: 90px;
      margin: 20px -4px 0 20px;
    
    }.page5 main h6{
      width: 80px;
      margin: 20px 0 0 20px;
    }
    .page5 main h5 li{
      background-color: black;
      list-style: none;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 7px 0 0 15px;
    }
    .page5 aside{
      background-color:#ECF0F1;
      width: 760px;
      height: 210px;
      margin: 20px 0 0 20px;
    }
    .page5 aside article{
      background-color: #1ABC9C;
      width: 190px;
      height: 170px;
      margin: 20px -4px 0 20px;
      display:inline-block;
    }
    .page5 aside article li{
      list-style: none;
      background-color: black;
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 15px 0 0 25px;
    }
    .page5 aside article p{
      background-color: black;
      width: 140px;
      height: 60px;
      border-radius: 50%;
      margin: 15px 0 0 25px;
    }
    .page5 aside section{
      background-color: #1ABC9C;
      width: 300px;
      height: 170px;
      margin: 20px -4px 0 20px;
      display:inline-block;
      vertical-align: top;
    }
    .page5 aside section li{
      background-color: #3498DB;
      width: 260px;
      height: 130px;
      margin: 20px 0px 0 20px;
      display:inline-block;
    }
    .page5 aside section li p{
      background-color: black;
      width: 70px;
      height: 70px;
      margin: 30px 0 0 10px;
      border-radius: 50%;
      display: inline-block;
    }

    /*pagina 6*/
    .page6 {
      background-color: #283747;
      width: 940px;
      height: 1040px;
      margin: auto;
    }
    .page6 article{
      background-color: #F4D03F;
      width: 180px;
      height: 180px;
      display: inline-block;
      margin: 20px -4px 0 20px;
      vertical-align: top;
    }
    .page6 article p{
      background-color:#3498DB;
      width: 70px;
      height: 70px;
      display: inline-block;
      border-radius: 50%;
      margin: 20px -20px 0 20px;
    }
    .page6 article li{
      background-color: white;
      width: 45px;
      height: 45px;
      display: inline-block;
      margin: 20px -20px 0 20px;
    }
    .page6 footer{
      background-color: #F4D03F;
      width: 500px;
      height: 180px;
      display: inline-block;
      margin: 20px 0px 0 20px;
    }
    .page6 footer aside{
      background-color: white;
      width: 140px;
      height: 140px;
      display: inline-block;
      margin: 20px -4px 0 20px;
    }
    .page6 footer aside p{
      background-color: #3498DB;
      width: 100px;
      height: 100px;
      margin: 20px 0px 0 20px;
      border-radius: 50%;
    }
    .page6 h1{
      background-color: #F4D03F;
      width: 180px;
      height: 340px;
      display: inline-block;
      margin: 20px -4px 0 20px;
      vertical-align: top;
    }
    .page6 h1 nav{
      background-color: white;
      width: 140px;
      height: 300px;
      margin: 20px 0px 0 20px;
      display: inline-block;
    }
    .page6 h1 nav p{
      background-color: #3498DB;
      width: 110px;
      height: 110px;
      margin: 25px 0px 0 15px;
      border-radius: 50%;
    }
    .page6 h1 div{
      background-color:white;
      width: 140px;
      height: 90px;
      margin: 20px 0px 0 20px;
      padding: 5px 0 0 0;
    }
    .page6 h1 aside{
      background-color:white;
      width: 140px;
      height: 180px;
      margin: 20px 0px 0 20px;
      padding: 5px 0 0 0;
    }
    .page6 h1 div ul{
      background-color: #3498DB;
      width: 80px;
      height: 80px;
      margin: 4px 0px 0 30px;
      border-radius: 50%;
    }
    .page6 h1 aside ul{
      background-color: #3498DB;
      width: 80px;
      height: 80px;
      margin: 5px 0px 0 30px;
      border-radius: 50%;
    }
    
    .page6 h3{
      background-color: #F4D03F;
      width: 300px;
      height: 340px;
      display: inline-block;
      margin: 20px -4px 0 20px;
      vertical-align: top;
    }
    .page6 h3 p{
      background-color: #3498DB;
      width: 260px;
      height: 260px;
      margin: 40px 0px 0 20px;
      border-radius: 50%;
    }
    .page6 h1 article{
      background-color:#3498DB;
      width: 90px;
      height: 90px;
      margin: 20px 0px 0 40px;
      border-radius: 50%;
    }
    .page6 h1 section{
      background-color: #3498DB;
      width: 150px;
      height: 80px;
      margin: 20px 0px 0 10px;
      border-radius: 60%;
    }
    
    
    .page6 h6{
      background-color:#82E0AA;
      width: 900px;
      height: 440px;
      margin: 20px 0px 0 20px;
    }
    .page6 h6 article{
      background-color: #F4D03F;
      width: 200px;
      height: 180px;
      display: inline-block;
      margin: 20px -4px 0 20px;
      vertical-align: top;
    }
    .page6 h6 article li{
      background-color: white;
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 15px -20px 0 20px;
    }
    .page6 h6 article div{
      background-color: #3498DB;
      width: 100px;
      height: 100px;
      margin: 10px 0 0 50px;
      border-radius: 50%;
    }
    
    .page6 h6 nav{
      background-color: #F4D03F;
      width: 420px;
      height: 200px;
      display: inline-block;
      margin: 20px -4px 0 20px;
      vertical-align: top;
    }
    .page6 h6 nav aside{
      background-color: white;
      width: 380px;
      height: 160px;
      margin: 20px 0px 0 20px;
      vertical-align: top;
    }
    .page6 h6 nav aside li{
      background-color:#3498DB;
      width: 100px;
      height: 100px;
      margin: 30px 0px 0 10px;
      display: inline-block;
      border-radius: 50%;
    }